<div class="container">
  <div class="image-{{currentWeatherImage}}">
    <h1 class="cityName">{{city}}</h1>
    <br>
    <div class="weather-diagram" style="text-align: center" >
      <a class="hour" *ngFor="let num of listOfNumbers">
        <div class="time">{{firstHours[num]}}:00</div>
        <div class="icon {{firstConditions[num]}}"></div>
        <div class="temperature">{{firstTemps[num]}}°C</div>
      </a>
    </div>
    <br>
    <br>
    <div class="rowWeather">
      <table>
        <tr>
          <th>Day</th>
          <th>Maximum</th>
          <th>Minimum</th>
        </tr>
        <tr *ngFor="let num of listOfDays">
          <td>{{fiveDays[num]}}</td>
          <td>{{maxFiveDays[num]}}°C</td>
          <td>{{minFiveDays[num]}}°C</td>
        </tr>
      </table>
      <br>
      <div style="text-align: center">
        <label for="Name"></label>
        <input type="text" id="Name" name="Name" placeholder="New City">
        <button type="button"
                (click)="selectNewCity()">Select new City!
        </button>
      </div>
    </div>
  </div>
</div>
